@use "../../../colors.scss" as colors;

.trends {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  border: 2px solid #ffffff30;
  border-radius: 4rem;
  b {
    font-family: "Chirp-Bold";
    font-size: 5rem;
    line-height: 6rem;
    padding: 2rem 3rem;
  }

  .trend {
    display: flex;

    justify-content: space-between;
    padding: 2rem 4rem;
    cursor: pointer;

    .text {
      display: flex;
      flex-direction: column;

      p {
        font-size: 3rem;
        color: #ffffff70;
        line-height: 4rem;
        font-family: "Chirp-Regular";
      }

      span {
        color: colors.$textColor;
        font-size: 4rem;
        line-height: 5rem;
        font-weight: 500;
        font-family: "Chirp-Medium";
      }
    }

    button {
      background: transparent;
      width: 10rem;

      &:hover {
        background: #1d9bf040;
      }
    }

    &:hover {
      background: #ffffff20;
    }
  }

  img {
    height: 4rem;
  }
  .more {
    color: colors.$baseColor;
    cursor: pointer;
    font-size: 4rem;
    line-height: 5rem;
    padding: 4rem;
    font-family: "Chirp-Regular";
  }
}
