@use "../../colors.scss" as colors;

.tabs {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
 

  span {
    font-size: 4rem;
    line-height: 5rem;
    font-family: "Chirp-Bold";
    color: #ffffff70;
    padding: 3rem 0rem;
    cursor: pointer;
    flex: 1;
    align-items: center;
    justify-content: center;
    text-align: center;
    &:hover {
      background: #ffffff30;
    }
  }
}

.activeTab {
  border-bottom: 1rem solid colors.$baseColor;
  color: colors.$textColor !important;
}
